body {
    background-color: #86B6F6;
}
.center {
    top: 50%;
    bottom: 50%;
    transform: translate(0%, 20%);
    padding: 50px; 
    border-radius: 40px;
    
}
.year {
    font-size: 20px;
    padding-right: 5px;
    
  }
.flex-container {
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
}
.border{
    border-radius: 40px;
    background-color: #B4D4FF;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 30px;
    flex: 200%;
}  

.style1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
}
.style2{
    margin: 10px auto;
    align-items: center;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}

.button {
    background-color: #585858;
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }

  .button:hover {
    background-color: #86B6F6;
    color: white;
  }
  
  input::file-selector-button {
    background-color: #585858;
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .main-text{
    color: black;
    font-family: system-ui;
    font-weight: normal;
  }
  .top-book-text{
    color: black;
    font-family: system-ui;
    font-style: italic;
    font-weight: normal;
  }

  .small-text{
    color: white;
    font-size: 15px;
  }


  input[type='file'] {
    color: white
  }

 .heading-container {
    display: flex;
    align-items: center;
}

.break{
    padding: 5px;
}

.heading-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust the margin as needed */
}
  
.title{
    font-size: 10px;
    color: #585858;
}

.instructions{
    font-size:15px;
    color:#585858;
    font-weight: bold;
}
#loupe-image {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust the margin as needed */
    position: absolute;
    top: 8%;
    left: 67%;
}