body {
    background-color: #86B6F6;
}
.center {
    top: 50%;
    bottom: 50%;
    transform: translate(0%, 30%);
    padding: 50px; 
    border-radius: 40px;
    
}

.center2 {
  top: 50%;
  bottom: 50%;
  transform: translate(0%, 40%);
  padding: 50px; 
  border-radius: 40px;
  
}
.year {
    font-size: 20px;
    padding-right: 5px;
    
  }
.flex-container {
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
}
.border{
    border-radius: 40px;
    background-color: #B4D4FF;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 30px;
}  

.style1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
}
.style2{
    margin: 10px auto;
    align-items: center;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
}
  
select:focus{
    outline:none;
}

.button {
    background-color: #585858;
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }
  
  input::file-selector-button {
    background-color: #585858;
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .main-text{
    color: black;
    font-family: system-ui;
    font-weight: normal;
  }

  .small-text{
    color: white;
    font-size: 15px;
  }

  .title{
    color: #585858;
    font-size:25px;
    font-weight: bold;
  }

  .text{
    color: white;
    font-size:25px;
  }


  .button {
    background-color: #585858;
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }

  .info-item {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Add some margin between each info-item */
}

.info-item img {
    width: 40px; /* Adjust the width as needed */
    margin-left: 10px; /* Add some space between the text and image */
}

  .info-item {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Add some margin between each info-item */
}

.info-item img {
    width: 40px; /* Adjust the width as needed */
    margin-left: 10px; /* Add some space between the text and image */
}

  #book_img {
    border-radius: 20%;
  }


  .list {
    color: rgb(4, 0, 0);
    font-size:23px;
    font-family: bradley hand;
  }

  #topBooksButton {
    position: absolute;
    top: 90%;
    left: 23%;
  }
  #mug_img {
    position: absolute;
    top: 13%;
    left: 50%;
  }

  .heading-container {
    display: flex;
    align-items: center;
}